.head-instr{
   &__instrs{
      /* Слайдер */
      &.slick-slider{
         padding-right: 20px;
         @media(max-width: 850px){
            padding-right: 0;
         }
      }
   }

   &__txts{}

/* Точки (булиты) */
.slick-dots{
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}
.slick-dots li{
   font-size: 0;
   width: 20px;
   height: 2.5px;
   background: #797878;
   border: none;
   margin: 7px;
}
.slick-dots button{
   display: none;
}
/* Активная точка */
.slick-dots li.slick-active{
   background: white;
}

}